@import url('https://fonts.googleapis.com/css?family=Barlow');

$primaryFont: 'Barlow', sans-serif;

$matchBackgroundColor: #3D3D3D;
$white: #fff;
$lightGrey: #f6f7f8;
$gray: #545A54;
$green: #44DA5E;
$red: #DA6D7A;
$yellow: #C2B227;
